@font-face {
  font-family: 'Louize';
  src: url('LouizeTrial-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Louize';
  src: url('LouizeTrial-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Louize';
  src: url('LouizeTrial-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Louize';
  src: url('LouizeTrial-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
